.cell {
  background-color: red;
  border: 1px solid;
  box-sizing: border-box;
}
.normal {
  width: 80px;
  height: 15px;
}
.small {
  width: 5px;
  height: 5px;
}

.large {
  width: 30px;
  height: 20px
}

.corner {
  display: flex;
  
  .normal {
    border: 1px solid;
  }
}

.row {
  display: flex;
  .cell {
    border: 1px solid;
    border-left: 0;
  }
  .cell:nth-child(1) {
    border-left: 1px solid;
  }
}

.row-header {
  width: 160px;
  display: flex;

  .parent {
    width: 78px;
    border: 1px solid;
    height: 60px;
    box-sizing: border-box;
    background-color: blue;
  }
}